:host {
  display: block;
  height: 100%;
}

lib-drawer-container {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;

  --statusbar-height: 24px;
  --toolbar-height: 48px;

  elfile-splittable {
    display: block;
    height: calc(100% - var(--statusbar-height) - var(--toolbar-height));
    position: absolute;
    top: var(--toolbar-height);
    width: 100%;
  }

  elfile-statusbar {
    bottom: 0;
    display: block;
    height: var(--statusbar-height);
    position: absolute;
    width: 100%;
  }

  elfile-toolbar {
    display: block;
    height: var(--toolbar-height);
    position: absolute;
    top: 0;
    width: 100%;
  }

}
