:host {
  display: block;
  height: 100%;
}

lib-drawer-container {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;

  --nav-height: 48px;

  elfile-splittable {
    height: calc(100% - var(--nav-height));
  }

  elfile-toolbar {
    height: var(--nav-height);
  }

}
