:host {
  background-color: var(--mat-grey-800);
  border-top: 1px dotted var(--mat-grey-700);
  display: block;
  padding: 0 8px;
}

section {
  align-content: center;
  display: grid;
  font-size: 0.66rem;
  grid-gap: 16px;
  grid-template-columns: auto;
  height: 100%;

  .info {
    color: var(--mat-grey-400);
  }

  .warn {
    color: var(--warn-color);
  }

}
