:host {
  background-color: var(--mat-grey-800);
  border-top: 1px dotted var(--mat-grey-700);
  display: block;
  padding: 0 8px;
}

section {
  align-content: center;
  display: grid;
  font-size: 0.66rem;
  grid-gap: 16px;
  grid-template-columns: 1fr auto auto;
  height: 100%;

  .canceler {
    color: var(--error-color);
    cursor: pointer;
  }

  .error,
  .info,
  .warning {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .error {
    color: var(--error-color);
  }

  .info {
    color: var(--info-color);
  }

  .warning {
    color: var(--warning-color);
  }

  .mat-progress-bar {
    height: 100%;
    width: 140px;
  }

}
