@import '~@angular/material/theming';
@include mat-core();

//  Custom Angulat Material theme

$custom-primary: mat-palette($mat-blue, 400, 400, 600);
$custom-accent:  mat-palette($mat-amber, 400, 200, 600);
$custom-warn:  mat-palette($mat-orange, 400, 200, 600);
$custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);

@include angular-material-theme($custom-theme);

// Bridge from Angular Material variables to CSS variables

:root {

  --primary-color: var(--mat-blue-400);
  --accent-color: var(--mat-amber-400);
  --warn-color: var(--mat-orange-400);

  --text-color: var(--mat-grey-100);
  --disabled-color: var(--mat-grey-500);
  --background-color: var(--mat-grey-900);

}

// Basic styling

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
