<ng-container
  *ngFor="let desc of descriptorsByPath[path]; trackBy: trackDesc">

  <elfile-row
    (hydrated)="row.hydrated = $event"
    [attr.path]="desc.path"
    [clipboard]="clipboard"
    [contextMenu]="contextMenu"
    [desc]="desc"
    [dictionary]="dictionary"
    [isOpRunning]="isOpRunning"
    [libHydrated]="desc.path"
    [fs]="fs"
    [level]="level + 1"
    [path]="desc.path"
    [prefs]="prefs"
    [selection]="selection"
    [tab]="tab"
    #row>
  </elfile-row>

  <elfile-branch
    [clipboard]="clipboard"
    [contextMenu]="contextMenu"
    [descriptorsByPath]="descriptorsByPath"
    [dictionary]="dictionary"
    [fs]="fs"
    [isOpRunning]="isOpRunning"
    [level]="level + 1"
    [path]="desc.path"
    [prefs]="prefs"
    [selection]="selection"
    [tab]="tab"
    *ngIf="tree.isExpanded(desc)">
  </elfile-branch>

</ng-container>
