:host {
  display: block;
}

.cell {
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.mono {
    font-family: monospace;
  }

  &.quantity {
    text-align: right;
  }

  .datetime {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
