<table
  [ngClass]="{gridlines: prefs.showGridLines}"
  *ngIf="fslog.entries.length > 0; else empty">

  <thead>
    <tr>

      <td *ngIf="allInOneDay()">
        When
      </td>

      <ng-container *ngIf="!allInOneDay()">
        <td>
          Date
        </td>
        <td>
          Time
        </td>
      </ng-container>

      <td>
        Operation
      </td>

    </tr>
  </thead>

  <tbody>

    <tr
      *ngFor="let dummy of fslog.entries; let ix = index">

      <ng-container
        *ngIf="fslog.entries[fslog.entries.length - ix - 1] as entry">

        <td
          *ngIf="allInOneDay()"
          class="ts">
          <div *ngIf="prefs.dateFormat === 'ago'">
            {{ entry.ts | libTimeAgo }}
          </div>
          <div
            *ngIf="prefs.dateFormat !== 'ago'">
            {{ entry.ts | date:(prefs.timeFormat === 'none')? 'mediumTime' : prefs.timeFormat }}
          </div>
        </td>

        <ng-container *ngIf="!allInOneDay()">
          <td class="ts">
            {{ entry.ts | date:prefs.dateFormat }}
          </td>
          <td class="ts">
            {{ entry.ts | date:(prefs.timeFormat === 'none')? 'mediumTime' : prefs.timeFormat }}
          </td>
        </ng-container>

        <td
          class="op">
          {{ entry.op }}
        </td>

      </ng-container>

    </tr>

  </tbody>

</table>

<ng-template
  #empty>

  <div
    class="empty">

    <div>

      <fa-icon
        [icon]="['fas', 'info-circle']">
      </fa-icon>

      No log data

    </div>

  </div>

</ng-template>
