:host {
  display: block;
  height: 100%;
}

.column:not(:first-child) {
  border-left: 1px dotted var(--mat-grey-700);
}

.row {

  &.gridlines {
    border-bottom: 1px dotted var(--mat-grey-700);
  }

}
