<split
  (dragEnd)="onSplitSizeChange($event)"
  [ngClass]="{gridlines: prefs.showGridLines}"
  class="row"
  direction="horizontal"
  gutterColor="transparent"
  gutterImageH="url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=')"
  gutterSize="2">

  <split-area
    *ngFor="let entry of dictionary"
    class="column"
    [size]="entry.width">

    <elfile-column
      [entry]="entry"
      [view]="view"
      [viewID]="viewID">
    </elfile-column>

  </split-area>

</split>
