<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="desc.icon.split(' ')"
      [ngStyle]="{color: desc.color}"
      *ngIf="desc.icon"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    {{ desc.name }}
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="propsForm"
  [libRxfSubmit]="propsForm"
  novalidate>

  <input
    formControlName="path"
    type="hidden">

  <mat-form-field>
    <input
      formControlName="name"
      matInput
      placeholder="File or directory name"
      type="text">
  </mat-form-field>

  <table>

    <tr>
      <td>Size</td>
      <td>

        <div *ngIf="prefs.quantityFormat === 'abbrev'">
          {{ desc.size| libNumeral:'0a' }}
        </div>

        <div *ngIf="prefs.quantityFormat === 'bytes'">
          {{ desc.size| libNumeral:'0b' }}
        </div>

        <div *ngIf="prefs.quantityFormat === 'number'">
          {{ desc.size| libNumeral:'0,0' }}
        </div>

      </td>
    </tr>

    <ng-container
      *ngFor="let entry of dictSvc.dictionary()">

      <tr
        *ngIf="entry.isDate">
        <td>{{ entry.tag }}</td>
        <td>
          {{ desc[entry.name] | date:'short' }}
        </td>
      </tr>

    </ng-container>

    <tr>
      <td>Mode</td>
      <td class="mono">
        {{ desc.mode }}
      </td>
    </tr>

    <tr>
      <td>User</td>
      <td>
        {{ desc.user }}
      </td>
    </tr>

    <tr>
      <td>Group</td>
      <td>
        {{ desc.group }}
      </td>
    </tr>

  </table>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="propsForm.invalid || !desc.isWritable"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
