<div
  (dndDrop)="onDrop($event)"
  [dndAllowExternal]="true"
  *ngIf="hydrated"
  dndDragoverClass="drop-target"
  dndDropzone>

  <div
    (click)="onSelect($event, desc)"
    (contextmenu)="onContextMenu($event, desc)"
    (dblclick)="onOpen($event, desc)"
    (dndStart)="onDrag($event, desc)"
    [contextMenu]="contextMenu"
    [contextMenuSubject]="desc"
    [dndDraggable]="desc"
    [ngClass]="{cut: tree.isCut(desc),
                gridlines: prefs.showGridLines,
                selected: selection.paths.includes(desc.path)}"
    class="row"
    dndEffectAllowed="move">

    <div
      [ngClass]="{expander: (ix === 0), gridlines: prefs.showGridLines}"
      [ngStyle]="{'padding-left.px': (ix === 0)? level * 16 : 8,
                  'width.%': entry.width? entry.width : (100 / dictionary.length)}"
      *ngFor="let entry of dictionary; let ix = index"
      class="cell">

      <fa-icon
        (click)="onExpand($event, desc)"
        [fixedWidth]="true"
        [icon]="tree.isExpanding(desc)? ['far', 'clock'] : ['fas', 'caret-right']"
        [ngStyle]="{visibility: (tree.isDirectory(desc) && !tree.isEmpty(desc))? 'visible' : 'hidden', transform: tree.isExpanded(desc)? 'rotate(45deg)' : ''}"
        [pulse]="tree.isExpanding(desc)"
        *ngIf="ix === 0"
        size="xs">
      </fa-icon>

      <elfile-cell
        [clipboard]="clipboard"
        [desc]="desc"
        [entry]="entry"
        [prefs]="prefs">
      </elfile-cell>

    </div>

  </div>

</div>

<div
  class="dehydrated row"
  [ngClass]="{gridlines: prefs.showGridLines}"
  *ngIf="!hydrated">
</div>
