<split
  (dragProgress)="onSplitSizeChange($event)"
  [direction]="layout.direction"
  [useTransition]="true"
  gutterColor="#424242"
  gutterSize="5">

  <ng-template
    ngFor
    let-split
    [ngForOf]="layout.splits"
    let-ix="index">

    <split-area
      [order]="ix"
      [size]="split.size">

      <ng-container
        *ngIf="!split.splits; else splittable">

        <elfile-pane
          [clipboard]="clipboard"
          [fs]="fs"
          [index]="ix"
          [prefs]="prefs"
          [selection]="selection"
          [splitID]="split.id"
          [tabs]="split.tabs"
          [views]="views">
        </elfile-pane>

      </ng-container>

      <ng-template #splittable>

        <elfile-splittable
          [fs]="fs"
          [layout]="split"
          [prefs]="prefs"
          [views]="views">
        </elfile-splittable>

      </ng-template>

    </split-area>

  </ng-template>

</split>
