<form
  [formGroup]="tabForm"
  novalidate>

  <mat-form-field>
    <input
      formControlName="label"
      matInput
      placeholder="Enter a label for this tab"
      type="text">
    <button
      (click)="onClear('label')"
      aria-label="Clear"
      mat-button
      mat-icon-button
      matSuffix>
      <fa-icon
        [icon]="['fas', 'times']">
      </fa-icon>
    </button>
  </mat-form-field>

  <div class="iconAndColor">

    <div>

      <div><b>Select an Icon</b></div>

      <mat-button-toggle-group
        formControlName="icon">

        <mat-button-toggle value="fas laptop">
          <fa-icon
            [icon]="['fas', 'laptop']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas home">
          <fa-icon
            [icon]="['fas', 'home']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas keyboard">
          <fa-icon
            [icon]="['fas', 'keyboard']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas server">
          <fa-icon
            [icon]="['fas', 'server']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas cloud">
          <fa-icon
            [icon]="['fas', 'cloud']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab apple">
          <fa-icon
            [icon]="['fab', 'apple']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab aws">
          <fa-icon
            [icon]="['fab', 'aws']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab docker">
          <fa-icon
            [icon]="['fab', 'docker']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab github">
          <fa-icon
            [icon]="['fab', 'github']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab linux">
          <fa-icon
            [icon]="['fab', 'linux']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab node-js">
          <fa-icon
            [icon]="['fab', 'node-js']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab windows">
          <fa-icon
            [icon]="['fab', 'windows']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>
    </div>

    <div>

      <div><b>Select a Color</b></div>

      <mat-button-toggle-group
        formControlName="color">

        <mat-button-toggle value="var(--mat-grey-100)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-grey-100)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-pink-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-pink-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-purple-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-purple-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-indigo-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-indigo-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-blue-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-blue-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-cyan-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-cyan-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-teal-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-teal-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-green-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-green-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-lime-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-lime-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-yellow-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-yellow-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-amber-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-amber-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-deep-orange-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-deep-orange-a400)">
          </fa-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>

    </div>

  </div>

  <div class="buttons">

    <button
      (click)="onRemove(false)"
      [disabled]="noRemove"
      [class.hidden]="areYouSure"
      mat-button>
      Remove
    </button>

    <button
      (click)="onRemove(true)"
      [disabled]="noRemove"
      [class.hidden]="!areYouSure"
      mat-button>
      Are you sure? Cannot be undone!
    </button>

    <div class="okAndCancel">

      <a
        (click)="onCancel()"
        mat-button>
        Cancel
      </a>

      <button
        (click)="onSubmit()"
        [disabled]="tabForm.invalid"
        color="primary"
        mat-raised-button
        type="submit">
        OK
      </button>

    </div>

  </div>

</form>
