<form
  [formGroup]="tabForm"
  novalidate>

  <mat-form-field>
    <input
      formControlName="label"
      matInput
      placeholder="Enter a label for this tab"
      type="text">
    <button
      (click)="onClear('label')"
      aria-label="Clear"
      mat-button
      mat-icon-button
      matSuffix>
      <fa-icon
        [icon]="['fas', 'times']">
      </fa-icon>
    </button>
  </mat-form-field>

  <div class="iconAndColor">

    <div>

      <div><b>Select an Icon</b></div>

      <mat-button-toggle-group
        formControlName="icon">

        <mat-button-toggle value="fas laptop">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'laptop']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas home">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'home']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas database">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'database']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas server">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'server']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas code">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'code']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas image">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'image']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas user-secret">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'user-secret']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas trash">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'trash']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas music">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'music']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas video">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'video']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas cloud">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'cloud']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas sitemap">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'sitemap']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fas cog">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fas', 'cog']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab apple">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fab', 'apple']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab aws">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fab', 'aws']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab docker">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fab', 'docker']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab github">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fab', 'github']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab linux">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fab', 'linux']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab node-js">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fab', 'node-js']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="fab windows">
          <fa-icon
            [fixedWidth]="true"
            [icon]="['fab', 'windows']"
            size="lg">
          </fa-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>
    </div>

    <div>

      <div><b>Select a Color</b></div>

      <mat-button-toggle-group
        formControlName="color">

        <mat-button-toggle value="var(--mat-grey-100)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-grey-100)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-grey-400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-grey-400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-blue-grey-400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-blue-grey-400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-brown-300)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-brown-300)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-red-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-red-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-pink-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-pink-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-purple-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-purple-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-deep-purple-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-deep-purple-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-indigo-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-indigo-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-blue-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-blue-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-light-blue-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-light-blue-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-cyan-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-cyan-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-teal-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-teal-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-green-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-green-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-light-green-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-light-green-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-lime-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-lime-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-yellow-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-yellow-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-amber-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-amber-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-orange-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-orange-a400)">
          </fa-icon>
        </mat-button-toggle>

        <mat-button-toggle value="var(--mat-deep-orange-a400)">
          <fa-icon
            [icon]="['fas', 'square']"
            size="lg"
            style="color: var(--mat-deep-orange-a400)">
          </fa-icon>
        </mat-button-toggle>

      </mat-button-toggle-group>

    </div>

  </div>

  <div class="okAndCancel">

    <a
      (click)="onCancel()"
      mat-button>
      Cancel
    </a>

    <button
      (click)="onSubmit()"
      [disabled]="tabForm.invalid"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
