:host {
  background-color: var(--mat-grey-850);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

div.drop-target {
  outline: 1px solid var(--text-color);
}
