<mat-tab-group
  (selectedIndexChange)="onTabSelect($event)"
  [selectedIndex]="tabIndex">

  <ng-container
    *ngFor="let tab of tabs; let ix = index">

    <mat-tab>
      <ng-template
        mat-tab-label>

        <div
          (dropEvent)="onMoveTab($event, ix)"
          [dropHighlight]="'drop-target'"
          dropDirective>

          <div
            [dragDirective]="tab">

            <button
              (click)="onEditTab($event, tab)"
              mat-button
              mat-icon-button
              matTooltip="Modify tab">
              <fa-icon
                [icon]="tab.icon.split(' ')"
                [ngStyle]="{color: tab.color}"
                size="lg">
              </fa-icon>
            </button>

            <span>
              {{ tab.label }}
            </span>

          </div>

        </div>

      </ng-template>
    </mat-tab>

  </ng-container>

</mat-tab-group>
