<mat-tab-group
  (selectedIndexChange)="onTabSelect($event)"
  [selectedIndex]="tabIndex">

  <ng-container
    *ngFor="let tab of tabs; let ix = index">

    <mat-tab>
      <ng-template
        mat-tab-label>

        <div
          (dndDrop)="onMoveTab($event, ix)"
          [contextMenu]="contextMenu"
          [contextMenuSubject]="tab"
          dndDragoverClass="drop-target"
          dndDropzone>

          <div
            [dndDraggable]="tab"
            class="label">

            <fa-icon
              [icon]="tab.icon.split(' ')"
              [ngStyle]="{color: tab.color}">
            </fa-icon>

            <div>
              {{ tab.label }}
            </div>

          </div>

        </div>

      </ng-template>
    </mat-tab>

  </ng-container>

</mat-tab-group>

<button
  (click)="onEditView()"
  mat-icon-button>
  <fa-icon
    [icon]="['fas', 'ellipsis-v']">
  </fa-icon>
</button>

<context-menu>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'edit')">
    <div>Customize...</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'remove')"
    [enabled]="isTabRemoveable.bind(this)">
    <div>Remove</div>
  </ng-template>

</context-menu>
