<elfile-branch
  [contextMenu]="contextMenu"
  [descriptorsByPath]="descriptorsByPath"
  [dictionary]="dictionary"
  [fs]="fs"
  [level]="0"
  [path]="tab.paths[0]"
  [prefs]="prefs"
  [selection]="selection"
  [tab]="tab">
</elfile-branch>

<div
  *ngIf="!loaded"
  class="loading">

  <fa-icon
    [icon]="['fas', 'spinner']"
    [pulse]="true"
    size="4x">
  </fa-icon>

</div>

<context-menu>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'open')"
    [enabled]="isDirectory.bind(this)">
    <div>Open in a new tab</div>
  </ng-template>

  <ng-template
    contextMenuItem
    [subMenu]="newFileSubMenu">
    <div>New file...</div>
  </ng-template>

  <context-menu
    [menuClass]="'form'"
    #newFileSubMenu>

    <ng-template
      contextMenuItem
      let-item
      [passive]="true">
      <mat-form-field>
        <input
          (input)="onNewName($event.target.value)"
          (keyup)="($event.keyCode === 13)? onExecute({item: item}, 'new-file') : noop()"
          [attr._value]="prepareNewName('', newFileName)"
          matInput
          placeholder="New file name"
          type="text"
          #newFileName>
      </mat-form-field>
    </ng-template>

    <ng-template
      contextMenuItem
      (execute)="onExecute($event, 'new-file')"
      [enabled]="canNewName.bind(this)">
      <div>&nbsp;</div>
      <button
        [disabled]="!canNewName()"
        color="primary"
        mat-raised-button>
        OK
      </button>
    </ng-template>

  </context-menu>

  <ng-template
    contextMenuItem
    [subMenu]="newDirSubMenu">
    <div>New directory...</div>
  </ng-template>

  <context-menu
    [menuClass]="'form'"
    #newDirSubMenu>

    <ng-template
      contextMenuItem
      let-item
      [passive]="true">
      <mat-form-field>
        <input
          (input)="onNewName($event.target.value)"
          (keyup)="($event.keyCode === 13)? onExecute({item: item}, 'new-dir') : noop()"
          [attr._value]="prepareNewName('', newDirName)"
          matInput
          placeholder="New directory name"
          type="text"
          #newDirName>
      </mat-form-field>
    </ng-template>

    <ng-template
      contextMenuItem
      (execute)="onExecute($event, 'new-dir')"
      [enabled]="canNewName.bind(this)">
      <div>&nbsp;</div>
      <button
        [disabled]="!canNewName()"
        color="primary"
        mat-raised-button>
        OK
      </button>
    </ng-template>

  </context-menu>

  <ng-template
    contextMenuItem
    [subMenu]="renameSubMenu">
    <div>Rename...</div>
  </ng-template>

  <context-menu
    [menuClass]="'form'"
    #renameSubMenu>

    <ng-template
      contextMenuItem
      let-item
      [passive]="true">
      <mat-form-field>
        <input
          (input)="onNewName($event.target.value)"
          (keyup)="($event.keyCode === 13)? onExecute({item: item}, 'rename') : noop()"
          [attr._value]="prepareNewName(item.name, newName)"
          matInput
          placeholder="New name"
          type="text"
          #newName>
      </mat-form-field>
    </ng-template>

    <ng-template
      contextMenuItem
      (execute)="onExecute($event, 'rename')"
      [enabled]="canNewName.bind(this)">
      <div>&nbsp;</div>
      <button
        [disabled]="!canNewName()"
        color="primary"
        mat-raised-button>
        OK
      </button>
    </ng-template>

  </context-menu>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'properties')">
    <div>Properties...</div>
  </ng-template>

  <ng-template
    contextMenuItem
    divider="true">
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'touch')"
    [enabled]="isWritableFile.bind(this)">
    <div>Touch</div>
  </ng-template>

</context-menu>
