:host {
  display: block;
  height: 100%;
  overflow: auto
}

.cell {

  &.gridlines {
    border-right: 1px dotted var(--mat-grey-700);
  }

}

.row {
  cursor: default;
  display: flex;
  flex-direction: row;

  &.gridlines {
    border-bottom: 1px dotted var(--mat-grey-700);
  }

  &:hover {
    background-color: var(--mat-grey-800);
  }

}
