<elfile-branch
  [contextMenu]="contextMenu"
  [descriptorsByPath]="descriptorsByPath"
  [dictionary]="dictionary"
  [fs]="fs"
  [level]="0"
  [path]="tab.paths[0]"
  [prefs]="prefs"
  [selection]="selection"
  [tab]="tab">
</elfile-branch>

<div
  *ngIf="!loaded"
  class="loading">

  <fa-icon
    [icon]="['fas', 'spinner']"
    [pulse]="true"
    size="4x">
  </fa-icon>

</div>

<context-menu>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'open')"
    [enabled]="isDirectory.bind(this)">
    <div>Open in a new tab</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'touch')"
    [enabled]="isWritableFile.bind(this)">
    <div>Touch</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onExecute($event, 'properties')">
    <div>Properties...</div>
  </ng-template>

</context-menu>
