<elfile-branch
  [contextMenu]="contextMenu"
  [descriptorsByPath]="descriptorsByPath"
  [dictionary]="dictionary"
  [level]="0"
  [path]="tab.paths[0]"
  [prefs]="prefs"
  [selection]="selection"
  [tab]="tab">
</elfile-branch>

<context-menu>

  <ng-template
    contextMenuItem
    (execute)="onContextMenu($event, 'open')"
    [enabled]="isDirectory.bind(this)">
    <div>Open in a new tab</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onContextMenu($event, 'touch')"
    [enabled]="isWritableFile.bind(this)">
    <div>Touch</div>
  </ng-template>

  <ng-template
    contextMenuItem
    (execute)="onContextMenu($event, 'properties')">
    <div>Properties...</div>
  </ng-template>

</context-menu>
